{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <h4>Sign Up</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

