{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h4>Login</h4>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="username">Username : </label>
                    <input type="text" name="username">
                </div>

                <div>
                    <label for="password">Password : </label>
                    <input type="password" name="password">
                </div>
                <input type="submit"  value="Login">
            </form>
        </div>
    </div>
</div>

{% endblock %}


