{% extends 'base.html' %}
{% block content  %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3">
            {% for obj in object_list %}
                <h4>{{ obj.title | title}}</h4>
            <p>Created on : {{ obj.created_date }}</p>
            {% for article in obj.articles.all %}
                <h4><a href="{{ article.get_absolute_url }}">{{ article.title | title}}</a></h4>
                <p>Published on : {{ article.published_date }}</p>
                <p class="text-justify">{{ article.content | truncatechars:160 }}</p>
            {% endfor %}{% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
