{% extends 'base.html' %}
{% block content  %}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4">
            {% if object.image %}
            <img src="{{ object.image.url }}" class="img-fluid" alt="" />
            {% endif %}
        </div>
         <div class="col-sm-8">
            <h4>{{ object.title | title}}</h4>
            <p class="text-justify">{{ object.content }}</p>
            <p><a href="{{ object.get_edit_url }}">Update</a></p>
            <p><a href="{{ object.get_delete_url }}">Delete</a></p>
        </div>
    </div>
</div>

{% endblock content %}
