{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
           <div class="col-8 offset-2">
            <form method="post">{% csrf_token %}
                <h5 class="pb-3">Are you sure you want to delete <b>"{{ object|title }}"?</b></h5>
                <input type="submit" class="btn btn-danger" value="Confirm">
            </form>
           </div>
    </div>
</div>

{% endblock %}