{% extends 'base.html' %}
{% block content  %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-10">
            <p>What chat room would you like to enter?</p> <br>
            <input id="room-name-input" type="text" size="100"><br>
            <input id="room-name-submit" type="button" value="Enter">

            <script>
                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#room-name-submit').click();
                    }
                };

                document.querySelector('#room-name-submit').onclick = function(e) {
                    var roomName = document.querySelector('#room-name-input').value;
                    window.location.pathname = '/chat/' + roomName + '/';
                };
            </script>
        </div>
    </div>
</div>

{% endblock content %}