{% extends 'base.html' %}
{% block content  %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h4>Add Articles</h4>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.erros }}
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add/ Update Article" />
            </form>
        </div>
    </div>
</div>

{% endblock content %}
