{% extends 'base.html' %}
{% block content  %}
{% load static  %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3">
            <h4>Links</h4>
            <ul>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a> </li>
                <li><a href="{% url 'signup' %}">Register</a></li>
                <li><a href="{% url 'editor_signup' %}">Custom Register</a></li>
                {% else %}
                <li><a href="{% url 'article_list' %}">Articles</a></li>
                <li><a href="{% url 'article_add' %}">Add Articles</a></li>
                <li><a href="{% url 'chat' %}">Chat</a></li>
                <li><a href="{% url 'logout' %}">logout</a> </li>
                <li><a href="{% url 'admin:index' %}">Admin</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3">
            {% for obj in page_list %}
                <h4>{{ obj.title | title}}</h4>
            {% for article in obj.articles.all %}
                <h4><a href="{{ article.get_absolute_url }}">{{ article.title | title}}</a></h4>
                <p class="text-justify">{{ article.content | truncatechars:160 }}</p>
            {% endfor %}{% endfor %}
        </div>
    </div>
</div>



{% endblock content %}