{% extends 'base.html' %}
{% block content  %}
<br><br><br><br>
        <form method="POST" action="">
            {{ form.erros }}
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create new user" />
        </form>


{% endblock content %}

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-12 mt-3">-->
<!--            <h4>Add User</h4>-->
<!--            <form method="POST" action="">-->
<!--                {{ form.erros }}-->
<!--                {% csrf_token %}-->
<!--                {{ form }}-->
<!--                <input type="submit" value="Create new user" />-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->